@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
